<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In Page</title>
  <link rel="stylesheet" href="/style/reg.css">
</head>
<body>
  <div class="container">
    <div class="sign-in-section">
      <div id="signup-form" class="sign-in-box hidden">
        <h2 class="title">Register</h2>
        <p class="subtitle">Create a new account</p>
        <form class="form">
          <div class="input-group">
            <label for="signup-name" class="sr-only">Full name</label>
            <input id="signup-name" name="name" type="text" required placeholder="Full name" class="input">
          </div>
          <div class="input-group">
            <label for="signup-phone" class="sr-only">Phone number</label>
            <input id="signup-phone" name="phone" type="tel" required placeholder="Phone number" class="input">
          </div>
          <div class="input-group">
            <label for="signup-email" class="sr-only">Email address</label>
            <input id="signup-email" name="email" type="email" required placeholder="Email address" class="input">
          </div>
          <div class="input-group">
            <label for="signup-password" class="sr-only">Password</label>
            <input id="signup-password" name="password" type="password" required placeholder="Password" class="input">
          </div>
          <div>
            <button type="submit" class="submit-button">Register</button>
          </div>
        </form>
      </div>
    </div>


  </div>
</body>
</html>
